*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Raleway);
    font-size: 14px;
}

:root{
    /* primary color */
    --Gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

    /* natural color */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    /* font family */
    --ff-Raleway: 'Raleway', sans-serif;

    /* font waite */
    --fw-regular: 400;
    --fw-bold: 700;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------- main -------------*/
.main{
    background-color: var(--Very-Dark-Blue);
    width: min(90rem, 100%);
    min-height: 50rem;
    background-image: url(../img/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------- section -------------*/
.main__scn-cd-cnt{
    background-color: transparent;
    width: min(57.5rem, 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left side */
.sen__left{
    background-color: var(--Dark-Blue);
    width: 38%;
    padding: 2.2rem 7rem 2.2rem 2.3rem;
    border-radius: .5rem;
    border-top-right-radius: 5rem;
}

.left__logo-a{
    text-decoration: none;
}

.logo__img{
    display: block;
}

.left__icon-cnt{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}

.icon__img-cnt{
    background-color: var(--Very-Dark-Blue);
    min-width: 3rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin-right: 1rem;
}

.icon__img{
    width: 1.3rem;
    display: block;
}

/* right side */
.sen__right{
    background-color: var(--Dark-Blue);
    width: 58%;
    align-self: flex-end;
    padding: 2.5rem 2.4rem;
    border-radius: .5rem;
}

.right__title{
    font-size: 14px;
    font-weight: var(--fw-regular);
    color: var(--Pale-Blue);
    margin-bottom: 1rem;
}

.right__load-box{
    width: 100%;
    height: 1.2rem;
    background-color: var(--Very-Dark-Blue);
    border-radius: 1rem;
    position: relative;
}

.right__load-box::before{
    position: absolute;
    content: '';
    width: 70%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    left: .50%;
    border-radius: 1rem;
    background-image: linear-gradient(to right, var(--Gradient) );
}

.right__load-box::after{
    position: absolute;
    content: '';
    height: 70%;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 30%;
    border-radius: 50%;
    background-color: var(--Pale-Blue);
}

.right__load-status{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.load__unit{
    color: var(--Pale-Blue);
    font-size: 1rem;
    font-weight: var(--fw-bold);
}


/*--------- responsive -----------*/
@media(max-width: 375px){
    /*------------- main -------------*/
    .main{
        background-image: url(../img/bg-mobile.png);
        background-position: center;
        background-size: cover;
    }
}