*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Raleway);
    font-size: 14px;
}

:root{
    /* primary color */
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    /* natural color */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    /* font family */
    --ff-Raleway: 'Raleway', sans-serif;

    /* font waite */
    --fw-regular: 400;
    --fw-bold: 700;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}